body,html{
  text-align: center;
}
.heading{
  font-family: 'Red Hat Display', sans-serif;
  margin-top: 5%;
}

/* signin or Signup with Google */
.img{
  padding-right: 1rem;
}

/* all of the div blocks of the page */
div{
  margin-top: 5%;
}

/* Left and right div blocks to center main div */
.remaining{
  background-color: #cc99ff;
}

/* Input blocks of the form */
.box{
  text-align: left;
}

/* form-labels of the page */
.form-label{
  background:  #99ff99;
}

/* All the buttons of the page */
.btn{
  background-color: #2171cc;
}

/* Click to Register/Login button */
.bottom{
  margin: 1rem 0 3rem 0;
}

/* Sign in/up button */
.signin{
  margin: 1rem 0 1rem 0;
}
