<h1>Feedback and complaints</h1>

<form action="/feedback" method="post">

    <p>Title</p>
    <input type="text" id="title" name="title" />
    <p>Description</p>
    <textarea name="content" id="content" cols="50" rows="20"></textarea>

    <button type="submit">Submit</button>





</form>