<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Feedback and Complaints</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>
    <a href="/dashboard"><button type="button" class="btn btn-secondary btn-sm ms-3 mt-3">< Dashboard</button></a>
  <div class="container">
    <form action="/feedback" method="post">
      <div class="row justify-content-center mt-5">
        <h1 style="background-color: #C79CFF">Feedback and complaints</h1>
        <div class="mb-3 mt-2">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="title" name="title">
        </div>
        <div class="mb-3 ">
          <label for="exampleFormControlTextarea1" class="form-label">Description</label>
          <textarea class="form-control" name="content" id="content" cols="30" rows="10"></textarea>
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-primary" style="width: 4.7rem;background-color: #C79CFF;color: #000;">Submit</button>
        </div>
    </form>
  </div>

</body>

</html>