<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>drawNow</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/homeStyles.css">
        <link href="https://fonts.googleapis.com/css?family=Red+Hat Display&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    </head>
    <body>
        
        <nav id="nav-area">
            <img src="./img/logo.png" alt="">
            <a href="#" style="margin-left: 10%; ">Home</a>
            <a href="#about" style="margin-left: 10%; ">About</a>
            <a href="#developers"style="margin-left: 10%; ">Developers</a>
            <a href="#contact"style="margin-left: 7%; ">Contact us</a>
            <a href="/login"><button class="login-btn"style="margin-left: 4%; ">Login</button></a>
        </nav>

        <div id="home">
            <p style="font-size: 3.5em; margin-left: 30%;margin-top: 10%;">Create. Design. Collaborate</p>
            <p style="font-size: 3em; margin-left: 26%;"><span style="background-color: #D4FF9C;">Your ultimate diagrammatic platform.</span> </p>
            <a href="/signup"><button class="login-btn"style="margin-left: 45%; ">Register</button></a>
        </div>
        
        <div id="about">
            <h1 style="background-color: #C79CFF; margin-top: 8%; text-align: center;">About</h1>
            <p style="text-align: center;  font-size: 1.5em;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

        </div>

        <div id="developers">
            <h1 style="background-color:#D4FF9C; margin-top: 8%; text-align: center;">Developers</h1>

            <div>
                
                <h1 style="text-align: center">Mohit</h1>
                <img src="./img/ash-dp.png" alt="dev-1" style="height: 200px; width: 200px; border-radius: 50%;; margin-left: 42%;">
                <p style="text-align: center;  font-size: 1.5em; ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>

            <div style="background-color: #C79CFF;">
                
                <h1 style="text-align: center">Surya</h1>
                <img src="./img/victor.jpeg" alt="dev-1" style="height: 200px; width: 200px; border-radius: 50%;; margin-left: 42%;">
                <p style="text-align: center;  font-size: 1.5em; ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>

            <div>
                
                <h1 style="text-align: center">Vishaka</h1>
                <img src="./img/oikawa.png" alt="dev-1" style="height: 200px; width: 200px; border-radius: 50%;; margin-left: 42%;">
                <p style="text-align: center;  font-size: 1.5em; ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            

        </div>
        <h1 style="background-color: #D4FF9C; margin-top: 8%; text-align: center;">Contact us</h1>
        <div id="contact" style="background-color: #C79CFF;">
            
            <p style="text-align: center;  font-size: 1.5em;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p style="text-align: center; font-size: 1.2em;">Email id: xyz@xyz.com</p>
            <p style="text-align: center; font-size: 1.2em;">Contact number: 87453214693</p>
            <p style="text-align: center; font-size: 1.2em;">Visit us: Mountain View, California</p>
        </div>
    
        <script src="" async defer></script>
    </body>
</html>